.months-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    .months-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .month-card {
    background-color: #f5f5f500;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    transition: transform 0.2s ease-in-out;
  }
  
  .month-card:hover {
    transform: translateY(-5px);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
  }
  
  h2 {
    margin: 0;
    color: white;
  }
  
  /* .month-name {
    margin-top: 5px;
    font-size: 1.2rem;
  } */

  .footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  .add_button{
    background: none;
    background-color: transparent;
    text-align: center;
  }
  .total {
    background-image: url('calendar/frontPageBG.png');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body {
    background-image: url('/calendar/frontPageBG.png'); /* Changed to absolute path */
    background-size: cover;
  }
  .back-button {
    background: none;
    background-color: transparent;
    color: white;
    position: relative;
    left: 2px;
  }